.tituloFormulario {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.5em;
  color: #240f7d;
}

.textoTabla {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  color: #ffffff;
}
