<div class="d-flex align-items-center p-3 my-3 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm">
  <img src="../../../assets/IconsGoogle/money.svg" alt="" width="58" height="58">
  <div class="tituloFormulario text-center form-group col-md-8 offset-md-1">
    <p>Tabla de Impuestos </p>
  </div>


</div>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th class="text-center" *ngFor="let cabecera of cabeceras">{{cabecera}} </th>
      <th class="text-center" *ngIf="isMantenimiento==true">Operaciones</th>
    </tr>
  </thead>

  <tbody class="textoTabla">
    <tr *ngFor="let impuestoss of impuestos | paginate: { itemsPerPage: 10, currentPage: p }">
      <td class="text-center">{{impuestoss.mes}}</td>
      <td class="text-center">{{impuestoss.anio}}</td>
      <td class="text-center">{{impuestoss.importeBase}}</td>
      <td class="text-center">{{impuestoss.interesValor}}</td>
      <td class="text-center">{{impuestoss.importeFinal}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-light"><img src="../../../assets/IconsGoogle/money.svg" alt="" width="24" height="24" title="Pagar"></button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<div class="col-md-6 offset-3 mb-5 mt-5">
  <button class="btn btn-primary btn-sm btn-block" (click)="volver()">Volver</button>
</div>
<!--<button type="button" class="btn btn-light" [routerLink]="['/trabajo-detalle-denuncia',Denuncia.nro_Denuncia]"><img src="../../../assets/icons/eye.svg" alt="" width="24" height="24" title="Ver Detalles"></button>-->
