
<div class="cardcss">
  <div class="card text-center sombras">
    <div class="card-header tituloTabla">
      Dialogo de Confirmación de pago
    </div>
    <div class="card-body">
      <h5 class="card-title textopago">Ticket nro: </h5>
      <p class="card-text textopago">El importe que usted abonará es de :  </p>
      <button class="btn btn-primary" (click)="createTask()">Pagar Impuestos</button>

    </div>
    <div class="card-footer text-muted">
      Agregar una imagen de pago
    </div>
  </div>
</div>


  <!--<button accesskey="getAllTasks()">getAllTasks!</button>
  <button accesskey="getTask()">getTask!</button>
  <button accesskey="createTask()" (click)="createTask()" >CreateTask!</button>-->

