@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 6em;
    background-color: #240f7d;
   
  }
}

.tituloFormulario, .subtitulo {
  color: #240f7d;
  font-size: 3em;
  font-weight: 900;
  text-shadow: 6px 8px 10px #555;
}

label {
  color: skyblue !important;
}

.container-fluid {
  min-height: 53em !important;
  overflow-y: hidden; /* don't show content that exceeds my height */
}

.fondoweb {
  background-color: #240f7d;
  color: skyblue !important;
  
}


.ng-valid[required], .ng-valid.required {
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-left: 10px solid rgb(218, 200, 43); /* yellow */
}

.ng-invalid:not(form) {
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-left: 10px solid #e94646; /* red */
}

.backdrop {
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

/*.pie {
  border-top: 1px solid red;
  height: 60px;*/ /* footer height */
  /*padding-top: 2em;
  display: block;
  margin-top: 2em;*/ /* space between content and footer */
  /*box-sizing: border-box;
  position: relative;
  width: 100%;
}*/
