.tituloFormulario {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.5em;
}
.Tipo_Denuncia {
margin-right: 1.5em;
}

.textoTabla {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  color: #ffffff;
}


.tituloTabla {
  font-size: 1.3em;

}
